/* General Styles */
.form-control,
.top-btns,
.bottom-btns,
.contact-btn,
.bottom-btns-icons,
.statistics-btn {
  transition: 0.5s ease-out;
}

.menu-scroll {
  height: 200px;
  overflow-y: scroll;
}

.menu-item {
  font-size: 0.78rem;
}

.top-btns {
  font-size: 0.8rem;
}

.bottom-btns,
.contact-btn {
  border-radius: 0;
  width: 65px;
  font-size: 0.75rem;
}

.statistics-section {
  overflow-y: scroll;
}

.statistics-btn {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  max-width: 90px;
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
}

/* Media Queries */
@media screen and (max-width: 1199px) {
  .top-btns {
    font-size: 0.78rem;
  }
  .menu-item {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 635px) {
  .top-btns {
    font-size: 0.69rem;
  }
  .menu-item {
    font-size: 0.7rem;
  }
  .statistics-text {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 550px) {
  .top-btns {
    font-size: 0.69rem;
  }
  .menu-item,
  .bottom-btns-icons {
    font-size: 0.7rem;
  }
  .bottom-btns {
    font-size: 0;
    width: 20px;
    border-radius: 5px;
    padding: 4px;
  }
  .form-control {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 320px) {
  .top-btns,
  .menu-item {
    font-size: 0.6rem;
  }
  .bottom-btns {
    font-size: 0;
    width: 15px;
    border-radius: 5px;
    padding: 4px;
  }
  .statistics-btn {
    max-width: 65px;
    font-size: 0.5rem;
  }
  .menu-scroll {
    height: 130px;
  }
  .statistics-text {
    font-size: 0.65rem;
  }
}
