body {
  transition: 0.5s ease-out;
}
.form-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.form-check-input {
  cursor: pointer;
}

.siteseal {
  padding-bottom: 50px;
  padding-left: 5px;
}

@media screen and (max-width: 991px) {
  .form-check-label {
    display: none;
  }
  .form-check {
    right: 20px;
  }
}
@media screen and (max-width: 285px) {
  .form-check {
    right: 0px;
  }
}
